{% extends "base.html" %}

{% block content %}
    <h2>Appointmentshtml</h2>
    <ul>
        {% for app in object_list %}
            <li>{{ app.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}