{% extends 'base.html'%}

{%block title%}Login{%endblock%}
{%block content%}
	{{ state }}
	<form action="/login/check/" method="post">{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		username:
		<input type="text" name="username" value="{{ username}}" /><br />
		password:
		<input type="password" name="password" value="" /><br />

		<input type="submit" value="Log In" />
	</form>
{%endblock%}  

