
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <title>{% block title %}{%endblock%}</title>
 <link rel="stylesheet" href="https://qmul.webfactional.com/static/admin/css/base.css" type="text/css"  />
</head>
<body>
<table>
<tr>
<td></td>
</tr>
<tr>
<td>
{% block content  %}{% endblock%}
</td>
</tr>
</table>




</html>